

@media (max-width: 900px) {
  .featuredImages {
    height: 300px;
  }

  .featuredLinks {
    flex-direction: column;
  }

  /* .featuredImages img {
    height: auto;
    width: 30%;
  } */
}

.featProjPage {
  height: 100vh;
  /* border: 1px solid black; */
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuredContent {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.featProjPage h1 {
  margin: 10px;
  align-self: center;
  width: 60%;
  /* border: 2px solid yellow; */
  text-align: center;
  border-bottom: 2px solid white;
}

.featProjInfo {
  margin-top: -10px;
  /* border: 1px solid pink; */
  width: 50%;
  align-self: center;
}

.featProjInfo p, h2 {
  text-align: center;
}

.featuredImages {
  /* border: 2px solid red; */
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}

.featuredImages img {
  height: 300px;
  padding: 20px;
}

.leftFeatImage {
  transform: rotate(-10deg);
  /* border: 1px solid green; */
}

.rightFeatImage {
  transform: rotate(10deg);
}

.featuredLinks {
  align-self: center;
  display: flex;
  width: 60%;
  justify-content: space-around;
  /* border: 1px dashed yellow; */
}

.featuredLinks a {
  border: 1px solid white;
  text-decoration: none;
  text-align: center;
  /* background-color: white; */
  color: white;
  margin: 10px;
  padding: 20px;
  width: 50%;
  transition: ease-in;
  transition-duration: 0.3s;
}

.featuredLinks a:hover {
  background-color: white;
  color: #ef9166;
  transition: ease-in;
  transition-duration: 0.3s;
}
