.AllProjects {
  /* border: 1px solid red; */
  margin: 20px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.SingleProject {
  /* border: 1px solid blue; */
  padding: 10px;
  margin: 25px;
  display: flex;
  justify-content: center;
}

.info-box {
  width: 50%;
  font-family: 'Bree Serif', serif;
  /* border: 1px solid pink; */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.projectName {
  /* border: 1px solid red; */
  margin-bottom: -5px;
  font-family: 'Yeseva One', cursive;
}

.info-box a {
  border: 1px solid white;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 10px;
  transition: ease-in;
  transition-duration: 0.3s;
}

.info-box a:hover {
  background-color: white;
  color: #ef9166;
  transition: ease-in;
  transition-duration: 0.3s;
}

.TitleDivider{
  border: 1px solid white;
  width: 100%;
}

.ProjectImage {
  /* border: 1px solid red; */
  display: flex;
  /* align-content: center; */
  justify-content: center;
  margin: 10px;
  width: 40%;
}

/* .Image {
  border: 1px solid green;
  width: 200px;
  height: auto;
} */

.Laptop {
  width: 100%;
  align-self: center;
}

.Iphone {
  /* height: 50%; */
  width: 50%;
  /* border: 1px solid yellow; */
  /* justify-self: center; */
}

@media (max-width: 900px) {
  .SingleProject {
    flex-direction: column-reverse;
  }
}
