

@media (max-width: 900px) {
  .featuredImages {
    height: 300px;
  }

  .featuredLinks {
    flex-direction: column;
  }

  /* .featuredImages img {
    height: auto;
    width: 30%;
  } */
}

featProjPage h1 {
  margin: 10px;
  border: 2px solid yellow;
}

.featProjInfo {
  /* border: 1px solid pink; */
  width: 50%;
}

.featProjInfo p {
  text-align: center;
}

.featuredImages {
  border: 2px solid red;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.featuredImages img {
  height: 300px;
}

.leftFeatImage {
  transform: rotate(-10deg);
  /* border: 1px solid green; */
}

.rightFeatImage {
  transform: rotate(10deg);
}

.featuredLinks {
  display: flex;
  width: 70%;
  justify-content: space-between;
  border: 1px dashed yellow;
}

.featuredLinks p {
  /* border: 1px solid green; */
  text-decoration: none;
  background-color: white;
  color: yellow;
  margin: 10px;
  padding: 20px;
  width: 150px;
}
